<!doctype html>
<html lang="en">

</html>

<head>
  <title>Chris Goslin</title>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<!--waiting for log design-->

<body>
 <div class='container'>
  <img src='images/hot_air_baloons.jpg' alt="hot air">
            <a class="nav-link" id='home' href="/">Home</a>
            <a class="nav-link" id='contact' href="/contact">Contact</a>
            <a class="nav-link" id='portfolio' href="/portfolio">Portfolio Pages</a>
            <h1>DONT GET LEFT BEHIND</h1>
            <p id="img-text">in a world that is evolving<br>business through social media,<br>and online marketing.</p>
 </div>



  <!--learned how to save images into your repo to view anything you can create!!-->
  <!--will have more about me as class goes on, wanted more resume content-->

  <section class="card-body-index">
    <p class="card-text">Welcome to MOJ marketing, we do full scale marketing designed for your business. We build fully responsive websites that are eye popping to get the attention of potential clients, ,manage all social media platforms, and will build a complete marketing plan for your business.




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>