<div class='container-1'>
    <img src='images/brick-wall.jpg' alt="hot air">
              <a class="nav-link" id='home' href="/">Home</a>
              <a class="nav-link" id='contact' href="/contact">Contact</a>
              <a class="nav-link" id='portfolio' href="/portfolio">Portfolio Pages</a>
              <a class="nav-link" id="github" href="https://github.com/CGO7">Github</a>
              <a class="nav-link" id="linkdin" href="">Linkdin</a>
                    <section id="row-1">
                    <a class="movin" href="https://github.com/CGO7/Movin-On-Up">Movin On Up</a>   
                    <br>
                    <br>
                    <img id="projectOne" src="images/projectOne.PNG" alt="projectOne"></img>
                </section>
                <section id="row-2">
                    <a class="movin" href="https://github.com/CGO7/software-team-page">Software Team Generator</a> 
                    <br> 
                    <br>
                    <img id="projectOne" src="images/softwareTeam.PNG" alt="software"></img>
                </section>
                <section id="row-3">
                    <a class="movin" href="https://github.com/CGO7/readMe-generator">ReadMe Generator</a> 
                    <br>
                    <br>
                    <img id="projectOne" src="images/readMe.PNG" alt="readMe"></img>
                </section>
                <section id="row-4">
                    <a class="movin" href="https://github.com/CGO7/patient_tracker">Hospital Patinet Tracker</a> 
                    <br>
                    <br>
                    <img id="projectOne" src="images/patient.PNG" alt="patient"></img>
                </section>
                <section id="row-5">
                    <a class="movin" href="https://github.com/CGO7/Password-Generator-Feb-2021">Password Generator</a> 
                    <br>
                    <br>
                    <img id="projectOne" src="images/Password Generator.png" alt="password"></img>
                </section>
                <section id="row-6">
                    <a class="movin" href="https://github.com/CGO7/Hpriseon-Accessibility-Jan2021">Web Accessibiilty</a> 
                    <br>
                    <br>
                    <img id="projectOne" src="images/horriseon.PNG" alt="Horiseon"></img>
                </section>
            </section>
